/* ปรับแต่ง Event ใน FullCalendar ให้รองรับภาษาไทย */
/* ปรับแต่ง Event ใน FullCalendar ให้รองรับภาษาไทย */
.fc-event {
 
  /* padding: 5px; */
  border-radius: 5px;
  white-space: normal; /* อนุญาตให้ขึ้นบรรทัดใหม่ */
  word-break:normal;
  overflow-wrap:normal;
  overflow: hidden;
  max-width: 100%;
  /* font-weight: 500; */
  line-height: 1.5; /* ป้องกันวรรณยุกต์ทับกัน */
  font-family: "Noto Sans Thai", sans-serif; /* ใช้ฟอนต์ที่รองรับภาษาไทย */
}

.fc-daygrid-event {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-items: center; /* จัดข้อความไทยให้ดูสมดุล */
  justify-content:center;
  text-align: left;
  white-space: normal;
  word-break:normal;
  overflow-wrap:normal;
  overflow: hidden;
  padding: 2px;
  /* border-radius: 8px; */
  min-height: 2px; /* ป้องกันการบีบตัวอักษร */
  
  font-family: "Noto Sans Thai", sans-serif;
  
}

/* ปรับแต่งตัวอักษรภายในปฏิทิน */

.fc-daygrid-event-dot {
  width: 10px;
  height: 10px;
}

.fc-col-header-cell,
.fc-day-header,
.fc-col-header-cell-cushion {
  /* เลือกส่วนหัวของวัน */
  background-color: #1a2530;
  color: #fff; /* ตั้งค่าสีข้อความเป็นสีขาว */
  text-decoration: none; /* ลบขีดเส้นใต้ของข้อความ */
}

.fc-daygrid-day-number {
  color: #1a2530;
  text-decoration: none; /* ลบขีดเส้นใต้ของข้อความ */
}


.drag-items {
  display: flex;
  flex-direction: column;
}

.drag-item {
  cursor: grab;
  padding: 8px;
  margin: 5px;
  background-color: #f0f0f0;
  border-radius: 4px;
  text-align: center;
  user-select: none;
}

.drag-item:active {
  cursor: grabbing;
}

.fc-day-today {
  background-color: #f7f1cf !important; 

}

.fc-day-other {
  opacity: 0.4 !important; /* ทำให้วันนอกเดือนจางลง */
}


/* CSS สำหรับปรับขนาดตัวหนังสือของวันและวันที่ใน FullCalendar เมื่อหน้าจอเล็ก */

@media (max-width: 768px) {
  .fc-event {
    font-size: 8px;
    min-height: 20px;
    max-width: 100%;
    max-height: 100%;
    padding: 5px;
    line-height: 1.4;
  }

  .fc-daygrid-day-number {
    /* เลือกตัวหนังสือของวันที่ */
    font-size: 12px; /* ปรับขนาดตัวหนังสือลงเมื่อหน้าจอเล็ก */
  }
  .fc-daygrid-day {
    /* เลือกตัวหนังสือของวัน */
    font-size: 12px; /* ปรับขนาดตัวหนังสือลงเมื่อหน้าจอเล็ก */
  }

  .fc-col-header-cell,
  .fc-day-header {
    /* เลือกส่วนหัวของวัน */
    font-size: 12px; /* ปรับขนาดตัวหนังสือลงเมื่อหน้าจอเล็ก */
    text-decoration: none;
  }
}

@media (max-width: 576px) {
  .fc {
    width: 100%; /* ปรับความกว้างของตารางให้เต็มขนาดจอเมื่อหน้าจอขนาดเล็ก */
  }
  .fc-header-toolbar {
    flex-direction: column; /* แสดง Header เป็นคอลัมน์เมื่ออยู่ในโหมด Mobile */
    justify-content: flex-start; /* ชิดด้านซ้าย */
    align-items: flex-start; /* ชิดด้านซ้าย */
    font-size: 14px;
  }

  .fc-header-toolbar .fc-left,
  .fc-header-toolbar .fc-center,
  .fc-header-toolbar .fc-right {
    width: 100%; /* ให้แต่ละส่วนของ Header ขยายตามความกว้างของหน้าจอ */
    margin-bottom: 5px; /* ลดระยะห่างระหว่างส่วนของ Header */
  }

  .fc-day-header {
    font-size: 12px; /* ปรับขนาดตัวหนังสือลงเมื่อหน้าจอเล็ก */

    min-width: 40px;
  }

  .fc-list-heading td,
  .fc-list-heading thead th {
    text-align: center;
  }

  .fc-list-day-cushion,
  .fc-list-heading thead td,
  .fc-list-heading thead th {
    padding: 5px;
  }

  /* .fc-scrollgrid {
      height: 100vh;
    } */
}
