/* FullLayout.css */
/* FullLayout.css */



  .footer {
    flex-shrink: 0;
    width: 100%;
    background-color: #f8f9fa;
    padding: 1rem;
    text-align: center;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  }


  @media (min-width: 768px) {
    .back-button {
      display: none !important;

   
    }
  
  }  
  

  